th {
    border-color: black;
    border-width: 3px;
    border-style: ridge;
}

td {
    border-color: black;
    border-width: 3px;
    border-style: ridge;
}

h1, h2 {
    text-align: center;
}

table {
    display: inline-block;
}

p {
    font-size: 20px;
}